@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1.text-center {
  margin-bottom: 2em;
  margin-top: 2em;
  color: red;
}

.chicken, .beef, .sushi {
    background: rgba(149, 165, 166,0.5);
    padding: 1em;
    margin-bottom: 1.5em;
}

/* to add a left margin for xs devices*/
@media(max-width: 800px) {
    .col-xs-12 {
        margin-left: 0.5em;
    }
}
