.container {
    font-family: Geneva, sans-serif;
    background-color: lightpink;
    padding: 1em;
    max-width: 500px;
    margin: 1em auto;
}
button {
    font-family: Geneva, sans-serif;
    padding: 0.8em;
}
button:hover {
    cursor: pointer;
}
#content {
    margin-top: 1em;
    padding: 1em;
    font-size: 0.8rem;
}
.load {
    background: white;
    padding: 5px;
    margin-left: -1em;
}